body {
    background-color: lightblue;
}

h1 {
    font-size: 30px;
    font-family: 'Times New Roman';
    text-align: center;
    padding: 20px;
}

h2 {
    font-size: 40px;
    font-family: 'Times New Roman';
    color: black;
    margin: 20px;
}

h3 {
    font-size: 24px;
    font-family: 'Times New Roman';
    color: black;
    margin: 20px;
}

p {
    padding: 20px 30px;
    margin: auto;
    line-height: 150%;
}

p a {
    text-transform: uppercase;
    text-decoration: underline;
}

figcaption {
    text-align: center;
    padding: 5%;
    padding-top: 0px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 80%;
}

video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 80%;
}

/* .likes {
    text-align: center;
}

.likes li {
    min-width: 25%;
    display: inline-block;
    text-align: center;
    padding-bottom: 10px;
} */

.ingredients {
    list-style: disc;
    margin: 0px 60px;
}

.steps {
    list-style: decimal;
    margin: 0px 60px;
}

.item {
    border: solid 2px white;
    margin: 5px;
}

.info,
.likes {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    text-align: center;
    padding: 0px 20px;
    column-gap: 2.5%;
}

.likes {
    padding-bottom: 10px;
}

/* .item1 {
    grid-column-start: 1 / 1;
}

.item2 {
    grid-column-start: 2 / 2;
}

.item3 {
    grid-column-start: 3 / 3;
} */

.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

/* Navigation links */
.navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 33.33%;
    border: solid 2px black;
    /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center;
    /* If you want the text to be centered */
}

/* Add a background color on mouse-over */
.navbar a:hover {
    background-color: #000;
}

/* Style the current/active link */
.navbar a.active {
    background-color: darkblue;
    border: solid 2px black;
    text-decoration: underline;
    text-transform: uppercase;
}

#skip {
    position: absolute;
    background-color: black;
    color: lightblue;
    padding: 10px;
    left: -10000px;
}

#skip:focus {
    box-sizing: border-box;
    width: auto;
    position: absolute;
    left: 10px;
    top: 10px;
    animation-name: skipping;
    animation-duration: 1s;
}

@keyframes skipping {
    0% {
        top: -100px
    }

    100% {
        left: 10px;
        top: 10px;
    }
}

@media (prefers-reduced-motion) {
    .gif {
        display: none;
    }

    #skip:focus {
        animation: none;
    }
}